#fzf-master/
#fzf.vim-master/
#taglist.vim-master/
#backup.zip
#bashmarks-master/
#tagbar-master/
#nerdcommenter-master/
#Align-master/
#vim-shfmt-master/
#vim-surround-master/
#
plugin/*/
plugin_bak/
tmp/
term_logs/
_bak/


voltctl
kubectl
*.bak
backup-*.zip

cmakelang-0.6.13/
external/
